<!doctype html>
<html ng-app="app">
<head>
    <title>Hello AngularJS</title>

</head>

<body>
<div ng-controller="AppCtrl">
    <h1>testing Android Rest</h1>
    <p>Hello</p>
    <div>
        <div>Get user</div>
        <h3>Get a user</h3>
        <form ng-submit="getUser()">
            id: <input type="text"  ng-model="currentUser.id">
            <input type="submit" value="get">
            <h4>Got!</h4>
            <div>{{currentUser}}</div>
        </form>
    </div>
    <div>
        <div>Get all stamps</div>
        <button type="button" ng-click="getAll()" >Get all stamps</button>
        <div>{{allStamps}}</div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<!--    <script src="angular.min.js"></script>-->

<script src="app.js"></script>
<script src="service.js"></script>
<script src="controller.js"></script>


</body>
</html>