.fixedMenu{
    position:fixed !important
}

.floatingToast{
    position:fixed !important;
    top:50px;
    width: 50%;
    height: 50pt;
    right: 30px;
    /*background-color: red;*/
    z-index:99;
    display: block;
}


.myimg{
    width: 100%;
    height: 350px;
}

/*._md-center {*/
    /*left: 50%;*/
    /*transform: translate3d(-50%, 0, 0);*/
/*}*/