<!--<div class="md-padding" flex layout-sm="column">-->
<div layout="column" layout-fill>

    <md-toolbar class="fixedMenu relative">
        <div class="md-toolbar-tools">
            <span>Accounts</span>
            <span flex="auto"></span>
            <div flex="auto"  layout="row" layout-align="center center">
                <md-input-container md-no-float md-theme="input">
                    <!--<label>Search</label>-->
                    <input placeholder="Search" ng-model="searchText" type="search">
                </md-input-container>
                <md-button ng-click="vm.getAll(true)">get list</md-button>
                <md-button ng-click="vm.showAddUser($event)">Add</md-button>
            </div>
        </div>
    </md-toolbar>

    <div style="margin-bottom: 100px;"></div>
    <md-card ng-repeat="user in vm.allusers | filter:searchText">

        <md-card-content>


            <md-card>
                <md-card-content>

                    <form name="currentUserForm">
                        <md-button class="md-raised"
                                   ng-disabled="currentUserForm.$invalid"
                                   ng-click="vm.updateUser(user, $index)">Update
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="vm.deleteUser(user)">delete</md-button>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Username</label>
                                <input required
                                       name="username"
                                       ng-model="user.username">
                                <div ng-messages="currentUserForm.username.$error" md-auto-hide="false">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input required
                                       name="firstname"
                                       ng-model="user.firstName">
                                <div ng-messages="currentUserForm.firstname.$error" md-auto-hide="false">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input required
                                       name="lastname"
                                       ng-model="user.lastName">
                                <div ng-messages="currentUserForm.lastname.$error" md-auto-hide="false">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                        </div>
                        <!--<fieldset>-->
                        <!--<legend>-->
                        <!--Change password-->
                        <!--</legend>-->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input type="password"
                                   name="password"
                                   required minlength="4"
                                   ng-model="user.password" disabled>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>New Password</label>
                            <input type="password"
                                   name="password"
                                   minlength="4"
                                   ng-model="user.newPassword">
                            <div ng-messages="currentUserForm.password.$error" multiple md-auto-hide="false">
                                <div ng-message="minlength">minimum length is 4</div>
                            </div>
                        </md-input-container>

                        <!--<md-button class="md-raised" ng-hide="vm.showChangePassword"-->
                        <!--ng-click="vm.showChangePassword=!vm.showChangePassword">ChangePassword-->
                        <!--</md-button>-->
                        <!--<ng-form name="changePwdForm">-->
                        <!--<div ng-show="vm.showChangePassword">-->
                        <!--<md-input-container class="md-block" flex-gt-sm>-->
                        <!--<label>New password</label>-->
                        <!--<input type="password"-->
                        <!--name="newpass"-->
                        <!--ng-model="vm.newPassword" required minlength="4">-->
                        <!--<div ng-messages="changePwdForm.newpass.$error"-->
                        <!--role="alert"-->
                        <!--ng-hide="vm.newPassword.length >=4 || vm.newPassword.length <=1"-->
                        <!--&gt;-->
                        <!--<div ng-message="minlength">-->
                        <!--Password length is minimum 4-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</md-input-container>-->
                        <!--<md-button class="md-raised md-primary" ng-show="vm.newPassword.length >= 4 "-->
                        <!--ng-click="vm.changePassword(user,vm.newPassword)">-->
                        <!--Change Password-->
                        <!--</md-button>-->
                        <!--<md-button class="md-raised md-warn"-->
                        <!--ng-click="vm.showChangePassword=!vm.showChangePassword; vm.newPassword='';">-->
                        <!--Cancel Change Password-->
                        <!--</md-button>-->
                        <!--</div>-->
                        <!--</ng-form>-->
                        <!--</fieldset>-->

                        <div layout-gt-sm="row">
                            <md-input-container flex="50">
                                <label>RfidKey</label>
                                <input ng-model="user.rfidKey.id">
                            </md-input-container>

                            <md-checkbox ng-model="user.rfidKey.enabled">
                                Enabled RfidKey
                            </md-checkbox>
                        </div>

                        <br>
                        <fieldset>
                            <legend>
                                Authorities
                            </legend>
                            <div layout="row" layout-wrap flex>
                                <div flex-xs flex="50">
                                    <md-checkbox aria-label="Select All"
                                                 ng-checked="vm.isChecked(user.authorities)"
                                                 md-indeterminate="isIndeterminate(user.authorities)"
                                                 ng-click="vm.toggleAll(user.authorities)">
                                        <span ng-if="vm.isChecked(user.authorities)">Un-</span>Select All
                                    </md-checkbox>
                                </div>
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in vm.items">
                                    <md-checkbox ng-checked="vm.exists(item, user.authorities)"
                                                 ng-click="vm.toggle(item, user.authorities)">
                                        {{ item }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <fieldset>
                            <legend>
                                Account settings
                            </legend>
                            <div layout="row" layout-wrap flex>
                                <md-checkbox ng-model="user.credentialsNonExpired" aria-label="Checkbox 1">
                                    credentialsNonExpired
                                </md-checkbox>
                                <md-checkbox ng-model="user.enabled" aria-label="Checkbox 1">
                                    enabled
                                </md-checkbox>
                                <md-checkbox ng-model="user.accountNonLocked" aria-label="Checkbox 1">
                                    accountNonLocked
                                </md-checkbox>
                                <md-checkbox ng-model="user.accountNonExpired" aria-label="Checkbox 1">
                                    accountNonExpired
                                </md-checkbox>
                            </div>
                        </fieldset>
                        <md-button class="md-raised"
                                   ng-disabled="currentUserForm.$invalid"
                                   ng-click="vm.updateUser(user, $index)">Update
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="vm.deleteUser(user)">delete</md-button>
                    </form>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>

    <md-card ng-show="!(vm.allusers).length ">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">No users</span>
            </md-card-header-text>
        </md-card-header>
        <!--<div>-->
        <!--<md-card-content>-->
        <!---->
        <!--</md-card-content>-->
        <!---->
        <!--</div>-->
    </md-card>
</div>
