<div class="md-padding" flex layout-sm="column">


    <md-card>

        <md-card-content>
            <h2 class="md-title">Content from: accounts page</h2>

            <md-button class="md-raised" ng-click="vm.getAll()">update list of users</md-button>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Search</label>
                <input ng-model="searchText">
            </md-input-container>

            <md-card ng-repeat="user in vm.allusers | filter:searchText">
                <md-card-content>
                    <form>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Username</label>
                                <input ng-model="user.username">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="user.lastName">
                            </md-input-container>

                        </div>
                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input ng-model="user.password" disabled>
                            </md-input-container>
                        </div>

                        <fieldset>
                            <legend>
                                RfidKey
                            </legend>
                            <div layout-gt-sm="row">
                                <md-input-container flex="50">
                                    <label>RfidKey</label>
                                    <input ng-model="user.rfidKey.id">
                                </md-input-container>

                                <md-checkbox ng-model="user.rfidKey.enabled">
                                    Enabled RfidKey
                                </md-checkbox>
                            </div>
                        </fieldset>

                        <br>
                        <fieldset>
                            <legend>
                                Authorities
                            </legend>
                            <div layout="row" layout-wrap flex>
                                <div flex-xs flex="50">
                                    <md-checkbox aria-label="Select All"
                                                 ng-checked="vm.isChecked(user.authorities)"
                                                 md-indeterminate="isIndeterminate()"
                                                 ng-click="user.authorities=vm.toggleAll(user.authorities)">
                                        <span ng-if="vm.isChecked(user.authorities)">Un-</span>Select All
                                    </md-checkbox>
                                </div>
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in vm.items">
                                    <md-checkbox ng-checked="vm.exists(item, user.authorities)"
                                                 ng-click="vm.toggle(item, user.authorities)">
                                        {{ item.authority }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <fieldset>
                            <legend>
                                Account settings
                            </legend>
                            <div layout="row" layout-wrap flex>
                                <md-checkbox ng-model="user.credentialsNonExpired" aria-label="Checkbox 1">
                                    credentialsNonExpired
                                </md-checkbox>
                                <md-checkbox ng-model="user.enabled" aria-label="Checkbox 1">
                                    enabled
                                </md-checkbox>
                                <md-checkbox ng-model="user.accountNonLocked" aria-label="Checkbox 1">
                                    accountNonLocked
                                </md-checkbox>
                                <md-checkbox ng-model="user.accountNonExpired" aria-label="Checkbox 1">
                                    accountNonExpired
                                </md-checkbox>
                            </div>
                        </fieldset>
                        <md-button class="md-raised" ng-click="vm.updateUser(user, $index)">Updater</md-button>
                        <md-button class="md-raised md-warn" ng-click="vm.deleteUser(user)">delete</md-button>
                    </form>
                </md-card-content>
            </md-card>


            <br>
            <br>

            <md-content layout-padding>
                <div>
                    <md-button class="md-raised" ng-hide="vm.showAddUser" ng-click="vm.showAddUser=!vm.showAddUser">To
                        add a new
                        user
                    </md-button>


                    <form name="userForm" ng-show="vm.showAddUser">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input ng-model="vm.newUser.firstName">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="vm.newUser.lastName">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Username</label>
                                <input ng-model="vm.newUser.username">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input ng-model="vm.newUser.password">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex="50">
                                <label>Rfid</label>
                                <input ng-model="vm.newUser.rfidKey.id">
                            </md-input-container>
                            <md-checkbox ng-model="vm.newUser.rfidKey.enabled">
                                Enabled
                            </md-checkbox>
                        </div>

                        <fieldset>
                            <legend>
                                Authorities
                            </legend>
                            <div layout="row" layout-wrap flex>
                                <div flex-xs flex="50">
                                    <md-checkbox aria-label="Select All"
                                                 ng-checked="vm.isChecked(vm.newUser.authorities)"
                                                 md-indeterminate="isIndeterminate()"
                                                 ng-click="vm.newUser.authorities=vm.toggleAll(vm.newUser.authorities)">
                                        <span ng-if="vm.isChecked(vm.newUser.authorities)">Un-</span>Select All
                                    </md-checkbox>
                                </div>
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in vm.items">
                                    <md-checkbox ng-checked="vm.exists(item, vm.newUser.authorities)"
                                                 ng-click="vm.newUser.authorities=vm.toggle(item, vm.newUser.authorities)">
                                        {{ item.authority }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                        <md-button class="md-raised" ng-click="vm.addUser(vm.newUser)">Add user</md-button>
                        <md-button class="md-raised" ng-click="vm.cancelAdd()">Cancel Add user</md-button>
                    </form>
                </div>
            </md-content>
        </md-card-content>
    </md-card>
</div>
