<div class="md-padding" flex layout-sm="column">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Login</span>
                <span class="md-subhead">Provide username & password</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>


            <form name="loginForm" ng-submit="vm.login()">
                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Username</label>
                        <input ng-model="vm.credentials.username">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="vm.credentials.password">
                    </md-input-container>
                </div>
                <md-button class="md-raised" type="submit">Login</md-button>
                <md-button class="md-raised" ng-click="vm.cancelLogin()">Cancel</md-button>
            </form>
        </md-card-content>
    </md-card>
</div>
