<!doctype html>
<html ng-app="app">
<head>
    <title>Hello AngularJS</title>

</head>

<body>
<div ng-controller="AppCtrl">
    <h1>testing Rest with Angular OLD Not updated</h1>
    <div>better try the new APIs</div>
    <ul>
		<li><a href="/andw">Android web</a></li>
		<li><a href="/iweb">Item web</a></li>
		<li><a href="/piw">PI web</a></li>
    </ul>
    <div>
        <div>
            <h3>All users</h3>
            <div>{{allusers}}</div>
        </div>
        <h3>Add new timestamp</h3>
        <form ng-submit="addTimestamp()">
                id: <input type="text"  ng-model="currentUser.id">
                <input type="submit" value="add">
                <h4>Got!</h4>
                <div>{{currentUser}}</div>
            </form>
        <div>
        	<h3>Get a user</h3>
            <form ng-submit="getUser()">
                id: <input type="text"  ng-model="currentUser.id">
                <input type="submit" value="get">
                <h4>Got!</h4>
                <div>{{currentUser}}</div>
            </form>

            <br>
            <div>Update User</div>
            <form ng-submit="updateUser()">
               	id: <input type="text" ng-model="currentUser.id"><br>
                firstName: <input type="text" ng-model="currentUser.firstName"><br>
                lastName: <input type="text" ng-model="currentUser.lastName"><br>
                rfid: <input type="text" ng-model="currentUser.rfid.id"><br>
                samples: <p>{{currentUser.samples}}</p>
                
                <input type="submit" value="save">
            </form>
        </div>
        <br>
        
        <div>
            <div>Remove book</div>
            <form ng-submit="delUser()">
                id: <input type="text" ng-model="dUser.id">
                <input type="submit" value="delete">
            </form>
            <div>Removed user {{dUser.firstName}}</div>
            <div>{{dUser}}</div>
        </div>

		<br>
        <div>
            <div>Add User</div>
            <form ng-submit="addUser()">
                firstname: <input type="text" ng-model="aUser.firstName"><br>
                lastname: <input type="text" ng-model="aUser.lastName"><br>
                rfid: <input type="text" ng-model="aUser.rfid"><br>
                <input type="submit" value="save">
            </form>
            <div>{{aUser}}</div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<!--    <script src="angular.min.js"></script>-->

<script src="app.js"></script>
<script src="service.js"></script>
<script src="controller.js"></script>


</body>
</html>