<!doctype html>
<html ng-app="app">
<head>
    <title>Hello AngularJS</title>

</head>

<body>
<div ng-controller="AppCtrl">
    <h1>testing Rest with Angular</h1>
    <div>
        <div>
            <h3>Got with $http</h3>
            <div>{{got}}</div>
        </div>
    </div>

    <!--<div>-->
        <!--<div>Add book</div>-->
        <!--<form ng-submit="addBook()">-->
            <!--name: <input type="text" ng-model="abook.name"><br>-->
            <!--isbn: <input type="text" ng-model="abook.isbn"><br>-->
            <!--author: <input type="text" ng-model="abook.author"><br>-->
            <!--pages: <input type="number" ng-model="abook.pages"><br>-->
            <!--<input type="submit" value="save">-->
        <!--</form>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div>-->
        <!--<div>Remove book</div>-->
        <!--<form ng-submit="delBook()">-->
            <!--id: <input type="text" ng-model="delID">-->
            <!--<input type="submit" value="delete">-->
        <!--</form>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div>-->
        <!--<div>Get Book</div>-->
        <!--<form ng-submit="getBook()">-->
            <!--id: <input type="text" ng-model="gbook.id">-->
            <!--<input type="submit" value="get">-->
        <!--</form>-->
        <!--<br>-->
        <!--<div>Update book</div>-->
        <!--<form ng-submit="updateBook()">-->
            <!--name: <input type="text" ng-model="gbook.name"><br>-->
            <!--isbn: <input type="text" ng-model="gbook.isbn"><br>-->
            <!--author: <input type="text" ng-model="gbook.author"><br>-->
            <!--pages: <input type="number" ng-model="gbook.pages"><br>-->
            <!--<input type="submit" value="save">-->
        <!--</form>-->
    <!--</div>-->

    <!--<div>-->
        <!--<h3>Got with $resource</h3>-->
        <!--<div>{{rgot}}</div>-->

        <!--<div>list of books</div>-->
        <!--<ul>-->
            <!--<li ng-repeat="rbook in rBooks">-->
                <!--name= {{rbook.name}}-->
                <!--isbn: {{rbook.isbn}}-->
                <!--author: {{rbook.author}}-->
                <!--pages: {{rbook.pages}}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<!--    <script src="angular.min.js"></script>-->

<script src="app.js"></script>
<script src="service.js"></script>
<script src="controller.js"></script>


</body>
</html>