<!--
<div class="md-padding" flex layout-sm="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Test the Pi REST</span>
                <span class="md-subhead">Just for testing the communication between server and Pi</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <md-input-container class="md-icon-float md-block">
                <label>RFID</label>
                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                <input ng-model="rfid" type="text">
            </md-input-container>
            <md-button ng-click="vm.doPiStamp(rfid)">Test REST</md-button>
            <div>data got</div>
            <div>
                {{vm.piResult}}
            </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">

        </md-card-actions>
    </md-card>
</div>
-->
<!--
<md-toolbar >
    <div class="md-toolbar-tools">
      <h3>
        <span>Test titleasdf</span>
      </h3>
    </div>
  </md-toolbar>
-->

	
	<div flex layout="column">
	<div layout="row" flex>
<!--
	  <md-toolbar >
		<div class="md-toolbar-tools">
			<h2 class="md-display-1">Accounts</h2>
			  
		</div>
	  </md-toolbar>
-->
  	
<h2 class="md-display-1">Accounts</h2>
  </div>
  <div layout="row" flex style="margin-top: 30px;">
  
  <md-input-container class="md-block" flex md-no-float>
                                <input placeholder="Search" ng-model="searchText">
                            </md-input-container>
		</div>
  
  <md-content id="testa" flex layout="row" style="margin-top: 40px;">
  
   <div flex>

    <md-card ng-repeat="user in vm.allusers | filter:searchText">

        <md-card-content>


                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Username</label>
                                <input ng-model="user.username">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="user.lastName">
                            </md-input-container>

                        </div>
<!--    <div layout-gt-sm="row">-->
                            <md-input-container class="md-block" layout="column" flex="60">
                                <label>Password</label>
                                <input ng-model="user.password" disabled>
                            </md-input-container>
                            <md-button layout="column" ng-hide="vm.showChangePassword"
                                       ng-click="vm.showChangePassword=!vm.showChangePassword">ChangePassword
                            </md-button>
<!--			</div>-->
                            <div ng-show="vm.showChangePassword">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>New password</label>
                                    <input ng-model="vm.newPassword" required minlength="4">
                                    <div ng-messages="vm.newPassword.$error" role="alert"
                                         ng-hide="vm.newPassword.length >=4 || vm.newPassword.length <=1"
                                    >
                                        <div ng-message="minlength">
                                            Password length is minimum 4
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-button class="md-raised md-primary" ng-show="vm.newPassword.length >= 4 "
                                           ng-click="vm.changePassword(user,vm.newPassword)">
                                    Change Password
                                </md-button>
                                <md-button class="md-raised md-warn"
                                           ng-click="vm.showChangePassword=!vm.showChangePassword; vm.newPassword='';">
                                    Cancel Change Password
                                </md-button>
                            </div>
<br>
                            <div layout-gt-sm="row">
                                <md-input-container flex="50">
                                    <label>RfidKey</label>
                                    <input ng-model="user.rfidKey.id">
                                </md-input-container>

                                <md-checkbox ng-model="user.rfidKey.enabled">
                                    Enabled RfidKey
                                </md-checkbox>
                            </div>

                        <br>
                        <fieldset>
                            <legend>
                                Authorities
                            </legend>
                            <div layout="row" layout-wrap flex>
                                <div flex-xs flex="50">
                                    <md-checkbox aria-label="Select All"
                                                 ng-checked="vm.isChecked(user.authorities)"
                                                 md-indeterminate="isIndeterminate(user.authorities)"
                                                 ng-click="vm.toggleAll(user.authorities)">
                                        <span ng-if="vm.isChecked(user.authorities)">Un-</span>Select All
                                    </md-checkbox>
                                </div>
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in vm.items">
                                    <md-checkbox ng-checked="vm.exists(item, user.authorities)"
                                                 ng-click="vm.toggle(item, user.authorities)">
                                        {{ item }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                        <br>

                            <div layout="row" layout-wrap flex>
                                <md-checkbox ng-model="user.credentialsNonExpired" aria-label="Checkbox 1">
                                    credentialsNonExpired
                                </md-checkbox>
                                <md-checkbox ng-model="user.enabled" aria-label="Checkbox 1">
                                    enabled
                                </md-checkbox>
                                <md-checkbox ng-model="user.accountNonLocked" aria-label="Checkbox 1">
                                    accountNonLocked
                                </md-checkbox>
                                <md-checkbox ng-model="user.accountNonExpired" aria-label="Checkbox 1">
                                    accountNonExpired
                                </md-checkbox>
                            </div>
                        <md-button class="md-raised" ng-click="vm.updateUser(user, $index)">Updater</md-button>
                        <md-button class="md-raised md-warn" ng-click="vm.deleteUser(user)">delete</md-button>
                </md-card-content>
    </md-card>
    </div>
</md-content>
  
</div>