<md-dialog aria-label="add stamp" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <span flex></span>
                <md-button class="md-button" ng-click="cancel()">
                    cancel
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Add a timestamp</h2>
                <div layout="column">

                    <md-checkbox ng-model="newStamp.checkIn">Checked In</md-checkbox>
                    <md-datepicker ng-model="dpDate" md-placeholder="Enter date"
                                   ng-change="updateDate()"></md-datepicker>
                    <md-input-container flex="40">
                        <label>Time</label>
                        <input ng-model="newStamp.date" type="time" md-placeholder="Enter time">
                    </md-input-container>
                </div>
                <div>result {{newStamp.date | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="addStamp()" style="margin-right:20px;" class="md-primary">
                add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

