<md-dialog aria-label="update stamp" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{user.firstName}} {{user.lastName}}</h2>
                <span flex></span>
                <md-button class="md-button" ng-click="cancel()">
                    cancel
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Update the timestamp</h2>
                <br>
                <md-datepicker
                        flex
                        ng-model="userDate" md-placeholder="Enter date"
                        ng-change="updateDate('date')">
                </md-datepicker>
                <div layout="row" layout-align="center center">
                    <div flex="20">
                    Time
                    </div>
                    <md-input-container flex md-no-float>

                        <input ng-model="userTime" type="time" md-placeholder="Enter time"
                               ng-change="updateDate('time')">
                    </md-input-container>
                </div>
                <br>
                in/out
                <md-checkbox ng-model="stamp.checkIn"> {{stamp.date | date: 'yyyy-MM-dd HH:mm:ss'}}</md-checkbox>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer(stamp)" style="margin-right:20px;" class="md-primary">
                update
            </md-button>
            <md-button ng-click="answer()" class="md-warn">
                delete
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

