<div class="md-padding" flex layout-sm="column">

    <md-input-container class="md-block" flex-gt-sm>
        <label>Search</label>
        <input ng-model="searchText">
    </md-input-container>
    <md-card ng-repeat="user in vm.users | filter:searchText" ng-if="user.rfidKey.enabled==true">
        <md-card-header>
            <md-card-header-text ng-click="user.showBody=vm.getStamps(user,false)">
                <span class="md-title">{{user.firstName}} {{user.lastName}}</span>
                <div class="md-subhead">id: {{user.id}}</div>

            </md-card-header-text>
        </md-card-header>
        <div ng-show="user.showBody">
            <md-card-content>
                <md-button ng-click="vm.addStamp(ev,user)">+ Add new timestamp</md-button>
                <md-button ng-click="vm.getStamps(user,true)">update timestamp list</md-button>
                <md-list ng-cloak="user.stamps">
                    <md-list-item ng-repeat="stamp in user.stamps | orderBy:'date'"
                                  ng-click="vm.doPrimaryAction(ev,user,stamp)">
                        <md-checkbox ng-disabled="true" ng-model="stamp.checkIn"></md-checkbox>
                        <p>{{stamp.date | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-footer>
                <md-button ng-click="vm.addStamp(ev,user)">+ Add new timestamp</md-button>
            </md-card-footer>
        </div>
    </md-card>

    <md-card ng-show="!(vm.users |filter:{rfidKey :{enabled: 'true'}}).length ">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">No users has Enabled RFID-cards</span>
            </md-card-header-text>
        </md-card-header>
        <!--<div>-->
            <!--<md-card-content>-->
            <!---->
            <!--</md-card-content>-->
            <!---->
        <!--</div>-->
    </md-card>
</div>
