<!doctype html>
<html ng-app="app">
<head>
    <title>Raspberry PI webinteface</title>

</head>

<body>
<div ng-controller="AppCtrl">
    <h1>test Raspberry Pi REST</h1>
    <div>
        <div>
            <h3>All users</h3>
            <div>{{allusers}}</div>
        </div>
        <div>
            <h3>Get a user</h3>
            <form ng-submit="getUser()">
                id: <input type="text"  ng-model="currentUser.id">
                <input type="submit" value="get">
                <h4>Got!</h4>
                <div>{{currentUser}}</div>
            </form>

            <h3>Add new timestamp</h3>
            <form ng-submit="addTimestamp()">
                id: <input type="text" ng-model="currentUser.id">
                <input type="submit" value="add">
                <h4>Got!</h4>
                <div>{{resultOfTimestamp}}</div>
            </form>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<!--    <script src="angular.min.js"></script>-->

<script src="app.js"></script>
<script src="service.js"></script>
<script src="controller.js"></script>


</body>
</html>