<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="AppController">
    <div class="page-header">
        <h1>A checklist</h1>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
        There are no items yet.
    </div>
    <form class="form-horizontal" role="form" ng-submit="addItem(newItem)">
        <div class="form-group" ng-repeat="item in items">
            <div class="checkbox col-xs-9">
                <label>
                    <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
                </label>
            </div>
            <div class="col-xs-3">
                <button class="pull-right btn btn-danger" type="button" title="Delete"
                        ng-click="deleteItem(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <hr/>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..."/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        <br>
        <br>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="oldItem.id" placeholder="Enter the id for get a item"/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-disabled="!oldItem" title="Get"
               ng-click = 'getItem(oldItem.id)'>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
        <div> Got</div>
        <div>{{oldItem}}</div>
        
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.9.0/lodash.min.js"></script>
<script src="/itemweb/app.js"></script>
<script src="/itemweb/controllers.js"></script>
<script src="/itemweb/services.js"></script>
</body>
</html>